body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header{
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-left: auto;
}

#time-slider{
  width: 300px;
}

#selected-time {
  display: block;
  text-align: right;

}


#any-time{
  display: block;
  text-align: right;
  color: gray;
}

h1{
  margin-right: auto;
}
